{% extends "bootstrap/base.html" %}
{% block title %}編集画面{% endblock %}

{% block content %}
<div class="container">
  <h1>編集</h1>
  <form method="POST">
    <label for="location" class="form-label">目的</label>
    <input type="text" name="location" value="{{ reservation.location }}" class="form-control">
    <label for="purpose" class="form-label">目的</label>
    <input type="text" name="purpose" value="{{ reservation.purpose }}" class="form-control">
    <label for="start-time">開始時間</label>
    <input type="datetime-local" name="start-time" class="form-control" value="{{ reservation.start_time }}">
    <label for="end-time">終了時間</label>
    <input type="datetime-local" name="end-time" class="form-control" value="{{ reservation.end_time }}">
    <input type="submit" value="更新">
    <a href="/" role="button">戻る</a>
  </form>
</div>
{% endblock%}